/ignored/
/Monopoly/Monopoly/bin/*
/Monopoly/Monopoly/bin/
/Monopoly/Monopoly/bin/Debug/
/Monopoly/Monopoly/bin/Debug/*
/Monopoly/Monopoly/bin/Release/
/Monopoly/Monopoly/bin/Release/*
/Monopoly/Monopolt/obj/*
/Monopoly/Monopoly/obj/
/Monopoly/Code_for_Later.txt